@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&family=Oswald:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
} 


.name{
    border-bottom: 1px solid #ccc;
}

.game{
    border-bottom: 1px solid #ccc;
}
.oly{
    border-bottom: 1px solid #ccc;
   
}